{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card" style="background-color: lightblue;">
        <h1 class="card-title">{{ res.restraunt_name }}</h1>
        <h2 class="card-title">Rating:{{res.restraunt_rating_value}}</h2>
        <div class="card-body">
            <h2>Items Available</h2>
            {% for item in res.item_set.all %}
                <div class="mb-3">
                    <ul class="list-unstyled">
                        <li>{{ item.item_name }}</li>
                        <li>Price: {{ item.item_price }}</li>
                        {% if item.item_image %}
                        <div class="mt-3">
                            <img src="{{ item.item_image.url }}" alt="{{ item.item_name }}" class="img-fluid rounded" style="max-height: 300px; max-width: 300px;">
                        </div>
                    {% endif %}
                    <li>Rating:{{item.item_rating}}</li>
                    </ul>
                    <a href="{% url 'add-to-basket' item.pk %}" class="btn btn-primary">Add to Basket</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body" style="background-color: lightgray;">
            <h2>Rate the Restaurant</h2>
            <form action="{% url 'rate-restaurant' res.pk %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="restaurantRating">Rating:</label>
                    <input type="range" class="form-control-range" id="restaurantRating" name="restaurantRating" min="0" max="10" step="1">
                </div>
                <button type="submit" class="btn btn-success">Submit Rating</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


